body{
    background-color: #283149;
    text-align: center;
}


h1{
    font-size: 80px;
    color:#DBEDF3;
    text-shadow: 3px 0 #DA0463;
}

.set{
    flex-grow: 1;
}

button{
    padding: 32px 40px;
    font-size: 70px;
    font-weight: 700;
    background-color: #DBEDF3;
    color: rgb(192, 49, 49);
    border-radius: 8px;
    border: 9px solid #4b597f;
    margin-left: 15px;
}

.a{
    padding: 33px 42px;
}
.s{
    padding: 33px 42px;
}
.d{
    padding: 33px 42px;
}
.j{
    padding: 33px 50px;
}
.l{
    padding: 33px 50px;
}

.a{
    background-image: url();
}

@media(max-width:680px){
    .set{
        flex-grow: 1;
    }

    h1{
        font-size: 50px;
    }
    button{
        padding: 20px 30px;
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    .a{
        padding: 19px 34px;
    }
    .s{
        padding: 19px 35px;
    }
    .d{
        padding: 19px 34px;
    }
    .j{
        padding: 23px 43px;
    }
    .l{
        padding: 23px 43px;
    }
} 